<div>
    <h2 id="page-heading">
        <span jhiTranslate="mychartApp.clerk.home.title">Clerks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-clerk" [routerLink]="['/clerk/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mychartApp.clerk.home.createLabel">
            Create a new Clerk
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="clerks?.length === 0">
        <span jhiTranslate="mychartApp.clerk.home.notFound">No clerks found</span>
    </div>
    <div class="table-responsive" *ngIf="clerks?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="mychartApp.clerk.firstName">First Name</span></th>
            <th scope="col" ><span jhiTranslate="mychartApp.clerk.lastName">Last Name</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let clerk of clerks ;trackBy: trackId">
                <td><a [routerLink]="['/clerk', clerk.id, 'view' ]">{{clerk.id}}</a></td>
                <td>{{clerk.firstName}}</td>
                <td>{{clerk.lastName}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/clerk', clerk.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/clerk', clerk.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(clerk)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
