<div>
    <h2 id="page-heading">
        <span jhiTranslate="chartsApp.answer.home.title">Answers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-answer" [routerLink]="['/answer/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="chartsApp.answer.home.createLabel">
            Create new Answer
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="answers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="chartsApp.answer.question">Question</span></th>
            <th><span jhiTranslate="chartsApp.answer.result">Result</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let answer of answers ;trackBy: trackId">
                <td><a [routerLink]="['/answer', answer.id, 'view' ]">{{answer.id}}</a></td>
                <td>
                    <div *ngIf="answer.question">
                        <a [routerLink]="['../question', answer.question?.id, 'view' ]" >{{answer.question?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="answer.result">
                        <a [routerLink]="['../answer-scale', answer.result?.id, 'view' ]" >{{answer.result?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/answer', answer.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/answer', answer.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'answer/'+ answer.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
